@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
   display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Container {
  width: 100%;
  margin: 0 auto;
  background-color:darkslategrey;
  overflow: visible;
  margin-bottom: 45%; 
}

.HeaderNav {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-variant-caps: all-petite-caps;
  align-items: center;

}

.HeaderNav #LOGO {
  display: flex;
  align-items: center;
  list-style: none;
  

}

.HeaderNav #LOGO #IMG {
  background-image: url(logo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.HeaderNav #LOGO #LABEL {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 10px;
  color: white;

}

.HeaderNav #LOGO #LABEL:hover {
  color: rgb(146, 146, 146);
}

.HeaderNav #MENU {
  display: flex;
  list-style: none;
}

.HeaderNav #MENU li>a {
  text-decoration: none;
  padding: 0 15px;
  color: white;

}

.HeaderNav #MENU li>a:hover {
  text-decoration: none;
  padding: 0 15px;
  color: rgb(146, 146, 146);
}


